/* ---- Theme Color BEGIN ---- */
.dark {
    --bg-color: #1E1E1E;
    --label-border-color: darkgray;
    --label-bg-color: lightgray;
    --icon-border-color: darkgray;
    --icon-bg-color: lightgray;
}
.kindle {
    --bg-color: white;
    --label-border-color: darkgray;
    --label-bg-color: lightgray;
    --icon-border-color: darkgray;
    --icon-bg-color: lightgray;
}
/* ---- Theme Color END ---- */

body {
    background-color: #1E1E1E; /* 不支持 var() 的浏览器就用这行，比如 iPad 1 (iOS 5.1.1) 的 Safari，那就没有 Theme 功能了 */
    background-color: var(--bg-color);
    margin: 0px 10px;
    padding: 0px;
    background-position: top left;
    background-attachment: fixed;
    background-repeat:repeat;
}
a {
    text-decoration: none;
}

.slogan {
    background-color: lightgray;
    background-color: var(--label-bg-color);
    /* border: 3px solid darkgray;
    border: 3px solid var(--label-border-color); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    /* border-radius: 10px; */
    text-align: center;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    z-index: 999;
}
.apps-container {
    margin-top: 2rem;
    width: 100%;
}
.app-box {
    display: inline-table;
    cursor: pointer;
}
.app-frame {
    margin: 5px;
}
.square {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* width: 100%;
    height: 100%; */
}
.icon {
    background-color: lightgray;
    background-color: var(--icon-bg-color);
    border: 1px solid darkgray;
    border: 1px solid var(--icon-border-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.label {
    background-color: lightgray;
    background-color: var(--label-bg-color);
    border: 1px solid darkgray;
    border: 1px solid var(--label-border-color);
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.screenshot {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: 5px solid greenyellow;
    background-color: whitesmoke;
    background-size: 100% 100%;
    font-size: 10em;
    color: green;
    text-align: center;
}
